# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env.local

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Build de producción
dist/
build/